[Unit]
Description = kapina-backend
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/kapina-backend/kapina-backend.pid
User = kapina
Group = kapina
WorkingDirectory = /webapps/kapina-backend
EnvironmentFile = /webapps/kapina-backend/.env
ExecStartPre = /bin/mkdir /run/kapina-backend
ExecStartPre = /bin/chown -R kapina:kapina /run/kapina-backend
ExecStart = /bin/bash /webapps/kapina-backend/gunicorn.sh --pid /run/kapina-backend/kapina-backend.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/kapina-backend
PrivateTmp = true

[Install]
WantedBy = multi-user.target